<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/brands.css" />
    <title><%= title %></title>
  </head>
  <body>
    <div class="mainBody">
      <%- include("./partials/header") %>
      <%- include("./partials/navbar") %>
      <div class="mainContentContainer">
        <div class="brandDetailContainer">
          <div class="brandName"><%= brand.name %></div>
          <% if(brand.description) { %>
            <div class="brandDesc"><%= brand.description %></div>
          <% } %>
          <div class="brandDetailList">
            <% brand_items.forEach((item) => { %>
                <a class='createEditDeleteBtn' href="<%= item.url %>">- <%= item.name %></a>
            <% }) %>
          </div>
          <div class="editDeleteBrandBtnsContainer">
            <a class='createEditDeleteBtn' href="/inventory/brands/<%= brand._id %>/edit">Edit</a>
            <a class='createEditDeleteBtn' href="/inventory/brands/<%= brand._id %>/delete">Delete</a>
          </div>
        </div>
      </div>
      <%- include("./partials/footer") %>
    </div>
  </body>
</html>