<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/categories.css" />
    <title><%= title %></title>
  </head>
  <body>
    <div class="mainBody">
      <%- include("./partials/header") %>
      <%- include("./partials/navbar") %>
      <div class="mainContentContainer">
        <div class="categoryDetailContainer">
          <div class="categoryDetailTitle"><%= category.name %></div>
          <div class="categoryItems">
            <% category_items.forEach((item) => { %>
              <a class="createEditDeleteBtn" href="<%= item.url %>">- <%= item.name %></a>
            <% }) %>
          </div>
          <div class="categoryEditDeleteBtns">
            <a class="createEditDeleteBtn" href="/inventory/categories/<%= category._id%>/edit">Edit</a>
            <a class="createEditDeleteBtn" href="/inventory/categories/<%= category._id%>/delete">Delete</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>