<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/items.css" />
    <title><%= title %></title>
  </head>
  <body>
    <div class="mainBody">
      <%- include("./partials/header") %>
      <%- include("./partials/navbar") %>
      <div class="mainContentContainer">
        <div class="createItemContainer">
          <h1><%= title %></h1>
          <form method="post" class="createItemForm" enctype="multipart/form-data">
              <label for="itemName">Item Name</label>
              <input type="text" name="itemName" value="<%= name %>" required>
              <label for="itemDesc">Item Description</label>
              <input type="text" name="itemDesc" value="<%= description %>" required>
              <label for="itemPrice">Item Price</label>
              <input type="number" name="itemPrice" value="<%= price %>" required>
              <label for="itemInStock">Quantity in stock</label>
              <input type="number" name="itemInStock" value="<%= inStock %>" required>

              <input type="file" name="itemImage">
  
                <select name="categoryName">
                  <% categories.forEach((category) => { %>
                  <option value="<%= category.name %>">
                    <%= category.name %>
                  </option>
                  <% }) %>
                </select>
              
              <select name="brandName">
                <% brands.forEach((brand) => { %>
                <option value="<%= brand.name %>">
                  <%= brand.name %>
                </option>
                <% }) %>
              </select>
            
  
              <button type="submit">Submit</button>
              
              <% if (errors) { %>
                <% errors.forEach((error) => { %>
                  <div>- <%= error.message %></div>
                <% }) %>
              <% } %>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>