<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/items.css" />
    <title><%= title %></title>
  </head>
  <body>
    <div class="mainBody">
      <%- include("./partials/header") %>
      <%- include("./partials/navbar") %>
      <div class="mainContentContainer">
        <div class="itemListContainer">
          <div class="itemListTitle"><%= title %></div>
          <div class="itemListFormContainer">
            <% item_list.forEach((item) => { %>
              <a class='itemListLink' href="<%= item.url %>">
                <%= item.name %>
                <% if(item.img.data) { %>
                <div class="itemListImgContainer">
                  <img class="itemImg" href=""src="data:image/<%=item.img.contentType%>;base64, <%=item.img.data.toString('base64')%>">
                </div>
                <% } %>
              </a>
            <% }) %>
            </div>
          <a class="createEditDeleteBtn" href="/inventory/items/create">Create Item</a>
        </div>
      </div>
    </div>
  </body>
</html>