<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/items.css" />
    <title><%= title %></title>
  </head>
  <body>
    <div class="mainBody">
      <%- include("./partials/header") %>
      <%- include("./partials/navbar") %>
      <div class="mainContentContainer">
        <div class="itemDetailContainer">
          <% if (item.img.data) { %>
            <div class="itemDetailLeftSide">
                <div class="itemImgContainer"><img class="itemImg" src="data:image/<%=item.img.contentType%>;base64, <%=item.img.data.toString('base64')%>"></div>
            </div>
          <% } %>
          <div class="itemDetailRightSide">
            <a href="<%= item.brand.url %>" class="itemBrandName"><%= item.brand.name %></a>
            <div class="itemName"><%= item.name %></div>
            <a href="<%= item.category.url %>" class="itemCategoryName"><%= item.category.name %></a>
            <div><%= item.description %></div>
            <div>In stock: <%= item.inStock %></div>
            <a class="createEditDeleteBtn" href="/inventory/items/<%= item._id %>/edit">Edit</a>
            <a class="createEditDeleteBtn" href="/inventory/items/<%= item._id %>/delete">Delete</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>